   @model OBB.Models.LoginModel;
@{

} 

    <div class="card" style="max-width: 600px;" >
    <div class="card-header">
        <h5 class="card-title">Login Form</h5>
        </button>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Login" asp-controller="User">
            <div class="form-group">
                <label for="UserName" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter your Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter your Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <p class="text-center">Don't have an account? <a asp-area="" asp-controller="User" asp-action="AddUserForm">Sign up now</a></p>

        </form>
    </div>
</div>

<span class="text-danger" style="align-items: center;">@ViewData["Errormsg"]</span>